	body{
	 background-color: #000000;
   padding: 0px;
   margin: 0px;
 }

#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
p {
	font-family: 'Lacquer', sans-serif; 
	text-align: center;
	font-weight: bold;
}
audio {
	width: 100%;
}

.cards_persona {
		margin-right: 25px;
}

.cards_persona p {
		color: red;
}